@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	color: rgba(0, 0, 0, 0.5);
}

.primary-font {
	font-family: 'Lato', sans-serif;
}

.secondary-font {
	font-family: 'Dosis', sans-serif;
}

.container-fluid {
	max-width: 100%;
	padding: 0 !important;
}

.container {
	max-width: 90%;
}

.bg-red {
	background-color: rgb(243, 70, 70);
}

.headerWraper .top-strip {
	padding: 8px 0;
}

.headerWraper .top-strip p {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}

/* header logo section */
.headerWraper .header {
	width: 100%;
	height: auto;
	padding: 15px 0;
}

.logoWraper img {
	width: 100%;
}

/* Country Button & model */

.arrow-Icon {
	margin-left: 10px !important;
	color: black;
}

.part2 button {
	text-align: left;
	justify-content: flex-start !important;
	border: 1px solid rgba(0, 0, 0, 0.2) !important;
	padding: 10px 15px;
	line-height: 16px;
}

.contry .info .label {
	font-size: 12px !important;
	text-transform: capitalize !important;
	color: rgba(119, 119, 119, 0.7);
}

.contry .info .name {
	font-size: 14px !important;
	text-transform: capitalize !important;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 600;
}

/* Search Bar */

.headerSearch {
	width: 60%;
	height: 60px;
	background: #f3f4f7;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-left: 10px;
	border-radius: 5px;
	position: relative;
}

.modalHeaderSearch {
	width: 95%;
	height: 60px;
	background: #f3f4f7;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-left: 10px;
	border-radius: 5px;
	position: relative;
}

.headerSearch input,
.modalHeaderSearch input {
	background-color: transparent !important;
	outline: none !important;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 40px;
	border: 0 !important;
	padding: 0 20px;
}

.headerSearch button,
.modalHeaderSearch button {
	position: absolute;
	top: 10px;
	right: 15px;
	z-index: 1000;
	min-width: 40px !important;
	width: 40px !important;
	height: 40px !important;
	border: 0 !important;
	border-radius: 50% !important;
}

/* cart and profile section */

.part3 button {
	border: 0 !important;
}

.profile {
	margin-left: 50px !important;
}

.cart {
	margin-left: 10px !important;
}

/* navbar */

.menu {
	margin-right: 10px;
}
.expand {
	margin-left: 5px;
}

.navPart2 ul {
	margin: 0;
}

.navPart2 ul li button {
	color: rgba(0, 0, 0, 0.8) !important;
}

.navPart2 ul li button:hover {
	background-color: #fff !important;
	color: #2bbef9 !important;
}

.navPart2 ul li a {
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.8) !important;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	display: flex;
	align-items: center;
	padding: 8px 6px;
}

.navPart2 ul li a:hover {
	background-color: #fff !important;
	color: #2bbef9 !important;
}

/* Dialog */
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
	padding: 20px !important;
}

.upazila {
	margin-bottom: 0;
	max-height: 400px !important;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 20px;
}

.upazila li {
	width: 100% !important;
	list-style: none;
}

.upazila li button,
.subMenu button {
	width: 100%;
	text-transform: capitalize;
	color: #2e2e2e !important;
	font-size: 16px;
	justify-content: flex-start;
	padding: 10px 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	font-family: 'Dosis', sans-serif;
}

.navPart2 ul li {
	position: relative !important;
}

.navPart2 ul li .subMenu {
	position: absolute;
	top: 100%;
	left: 0px;
	min-width: 300px;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	z-index: 100;
}

.navPart2 ul li:hover .subMenu {
	opacity: 1;
	visibility: inherit;
	top: 100%;
}

.homeBanner {
	position: relative;
	overflow: hidden;
}

.homeBanner * {
	outline: none !important;
}

/* best seller Product */
.view-all {
	border: 1px solid rgba(0, 0, 0, 0.2) !important;
	padding: 0px 25px !important;
	border-radius: 45px !important;
	height: 35px;
}

.view-all a {
	font-size: 12px !important;
}

.title {
	font-size: 1rem;
	font-weight: 600;
}

.cardWrraper {
	position: relative;
}

.custom-badge {
	position: absolute;
	background-color: #2bbef9;
	padding: 0px 15px;
	border-radius: 45px;
	color: #fff;
	font-size: 14px;
	top: 13px;
	left: 10px;
}

.hover-icon {
	background-color: #fff;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
	width: 20px;
	height: 20px;
	padding: 8px;
	border-radius: 50%;
	font-weight: 400;
}

.cardWrraper:hover .hover-icon-root {
	opacity: 1 !important;
	visibility: inherit !important;
}

.hover-icon:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.imgWrraper {
	overflow: hidden;
}

.imgWrraper img {
	transition: all 0.5s ease-in-out;
}

.imgWrraper:hover img {
	transform: scale(1.1);
}

.hover-icon-root {
	position: absolute;
	top: 70px;
	right: 10px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease-in-out;
	z-index: 100;
}
